mixin icon(i_class, o_class, href, a_class='', text='')
	.icon(class=`${o_class ? o_class : ''}`)
		if href
			a(href=`${href}`, class=`icon--anchor ${a_class}`)
				i(class=`icon--icon ${i_class}`)
				if text
					span.icon--text #{text}
		else
			i(class=`icon--icon ${i_class}`)
				if text
					span.icon--text #{text}