mixin icon(icon_class, outer_class='', href='', anchor_class='', text='')
	.icon(class=`${outer_class ? outer_class : ''}`)
		if href
			a(href=`${href}`, class=`icon--anchor ${anchor_class}`)
				i(class=`icon--icon ${icon_class}`)
				if text
					span.icon--text !{text}
		else
			i(class=`icon--icon ${icon_class}`)
			if text
				span.icon--text !{text}