script.

  function collapseMenuSection(element, isInner = false){
      let menuSectionHeight = element.scrollHeight;
      let elementTransition = element.style.transition;
      element.style.transition = '';
    
      requestAnimationFrame(() => {
        element.style.height = `${menuSectionHeight}px`;
        element.style.transition = elementTransition;

        requestAnimationFrame(() => {
          element.style.height = '0px';  
        });
      });
    
    if(isInner){
      let mm = document.querySelector('.main-menu')
      mm.style.height = `${mm.scrollHeight - menuSectionHeight}px`
    }
    
    element.setAttribute('data-collapsed', 'true');
  }

  function expandMenuSection(element, isInner = false) {
      
      let menuSectionHeight = element.scrollHeight;
      element.style.height = `${menuSectionHeight}px`;

      if(isInner){
        let mm = document.querySelector('.main-menu')
        mm.style.height = `${mm.scrollHeight + menuSectionHeight}px`
      }
    
      element.setAttribute('data-collapsed', 'false');
  }

  function expandOrCollapseMenuSection(element, isInner) {
    let isCollapsed = element.getAttribute('data-collapsed') === 'true';
   
    if(isCollapsed) { 
      expandMenuSection(element, isInner)
      element.setAttribute('data-collapsed', 'false') 
    } else {
      collapseMenuSection(element, isInner) 
    }
  }

  function expandOrCollapseEntireMenu() {
    let menu = document.querySelector('.main-menu')
    let isCollapsed = menu.getAttribute('data-collapsed') === 'true';
    submenus = document.querySelectorAll('.main-menu--submenu')

    if(isCollapsed) 
    {   
      let totalSubmenuHeight = 0
      submenus.forEach(submenu => {
        submenu.style.height = `${submenu.scrollHeight}px`
        totalSubmenuHeight += submenu.scrollHeight
      })

      menu.style.height = `${menu.scrollHeight + totalSubmenuHeight}px`

      menu.setAttribute('data-collapsed', 'false')
    } 
    else 
    {
      menu.style.height = 0
      submenus.forEach(submenu => {
        submenu.style.height = 0
      })

      menu.setAttribute('data-collapsed', 'true')
    }
  }


  //add/remove on resize
  let menu = document.querySelector('.main-menu.is-collapsible');
  menu.setAttribute('data-collapsed', 'true');
  menu.style.height =  window.innerWidth > 990 ? 'initial': '0px';
  menu.style.display = 'block';

  window.addEventListener('resize', () => {
    menu.style.height =  window.innerWidth > 990 ? 'initial': '0px';
  })
