script.

  function collapseMenuSection(menu, subAndTopExpand = false)
  {
      let menuSectionHeight = menu.scrollHeight
      let menuTransition = menu.style.transition
      menu.style.transition = ''
    
      requestAnimationFrame(function()
      {
          menu.style.height = `${menuSectionHeight}px`
          menu.style.transition = menuTransition

          requestAnimationFrame(function() 
          {
            menu.style.height = '0px'  
          })
      })
    
    if(subAndTopExpand)
    {
      let outerMenu = document.querySelector('.header-menu')
      outerMenu.style.height = `${outerMenu.scrollHeight - menuSectionHeight}px`
    }
    
    menu.classList.remove('is-showing')
  }

  function expandMenuSection(menu, subAndTopExpand = false)
  {    
      let menuSectionHeight = menu.scrollHeight
      menu.style.height = `${menuSectionHeight}px`

      if(subAndTopExpand)
      {
        let outerMenu = document.querySelector('.header-menu')
        outerMenu.style.height = `${outerMenu.scrollHeight + menuSectionHeight}px`
        outerMenu.classList.add('is-showing')
      }
    
      menu.classList.add('is-showing')
  }

  function expandOrCollapseMenuSection(menu, subAndTopExpand = false)
  {
    let isExpanded = menu.classList.contains('is-showing')

    if(isExpanded)
    { 
      collapseMenuSection(menu, subAndTopExpand) 
    }
    else
    {
      expandMenuSection(menu, subAndTopExpand)
      //menu.setAttribute('data-collapsed', 'false') 
    }
  }

  function expandOrCollapseEntireMenu() 
  {
    let menu = document.querySelector('.header-menu')
    let isCollapsed = menu.getAttribute('data-collapsed') === 'true'
    submenus = document.querySelectorAll('.header-menu--submenu-list')

    if(isCollapsed) 
    {   
      let totalSubmenuHeight = 0
      submenus.forEach(submenu => {
        submenu.style.height = `${submenu.scrollHeight}px`
        totalSubmenuHeight += submenu.scrollHeight
      })

      menu.style.height = `${menu.scrollHeight + totalSubmenuHeight}px`

      menu.setAttribute('data-collapsed', 'false')
    } 
    else 
    {
      menu.style.height = 0
      submenus.forEach(submenu => {
        submenu.style.height = 0
      })

      menu.setAttribute('data-collapsed', 'true')
    }
  }

