mixin icon(i_class, o_class, href, a_class='', text='')
	.icon(class=`${o_class ? o_class : ''}`)
		if href
			a(href=`${href}`, class=`icon--anchor ${a_class}`)
				i(class=`icon--icon ${i_class}`)
				if text
					span.icon--text #{text}
		else
			i(class=`icon--icon ${i_class}`)
				if text
					span.icon--text #{text}

mixin flipButton(btnHref, btnText)
	a.flip-button(href=`${btnHref}`)
		.flip-button--top
			| #{btnText}
		.flip-button--bottom
			| #{btnText}

mixin headerLogo()
	span.header-logo
			a.header-logo--link(href=`${website_url}`)
				img.header-logo--image(src=`${logo_url}`)

mixin burger(text = '')
	.burger
		.burger--slices
			.burger--slice
			.burger--slice.burger--middle-slice
			.burger--slice
		if text
			.burger--text #{text}

mixin plusMinus()
	.plus-minus

mixin headerMenu(mobileMenuType, hasCloseBtn, hasPlusMinus, subsAutoExpanded = 'false')
	nav.main-menu.is-collapsible
		ul.main-menu--menu(data-collapsed='true')
			if hasCloseBtn
				li.main-menu--close-btn
					.x-button
			if locals.menu
				for item in locals.menu
					li.main-menu--item.main-menu--item-top(class=item.submenu ? 'has-submenu': '')
						a.main-menu--anchor(href=`${item.href}`)
							| !{item.title}
							if item.submenu && hasPlusMinus
								+plusMinus()
						if item.submenu
							ul.main-menu--submenu(data-collapsed='true')
								for subitem in item.submenu
									li.main-menu--item.main-menu--item-sub
										a.main-menu--anchor.main-menu--anchor-sub(href=`${subitem.href}`)
											| #{subitem.title}

	
	include ./../includes/javascript/mobile-menus/main.pug

	//Slide Left 
	if mobileMenuType == 1	
		include ./../includes/javascript/mobile-menus/slide-left.pug

	//Slide Right 
	if mobileMenuType == 5	
		include ./../includes/javascript/mobile-menus/slide-right.pug
			
	//Slide Down and Accordion
	if mobileMenuType == 3 || mobileMenuType == 4 	
		include ./../includes/javascript/mobile-menus/lib/menu-sections.pug

	//Slide Down
	if mobileMenuType == 3
		include ./../includes/javascript/mobile-menus/expand-down.pug
			
	//Accordion
	if mobileMenuType == 4
		if subsAutoExpanded
			include ./../includes/javascript/mobile-menus/accordion-subs-auto-expanded.pug
		else
			include ./../includes/javascript/mobile-menus/accordion.pug


