mixin icon(i_class, href, a_class="")
	a(href=`${href}`, class=`${a_class}`)
		i(class=`${i_class}`)

mixin flipButton(btnHref, btnText)
	a.flip-button(href=`${btnHref}`)
		.flip-button--top
			| #{btnText}
		.flip-button--bottom
			| #{btnText}

mixin headerLogo()
	span.header-logo
			a.header-logo--link(href=`${website_url}`)
				img.header-logo--image(src=`${logo_url}`)

mixin burger()
	.burger
		.burger--slice
		.burger--slice.burger--middle-slice
		.burger--slice

mixin plusMinus()
	.plus-minus

mixin headerMenu(mobileMenuType, hasCloseBtn)
	nav.main-menu.is-collapsible
		ul.main-menu--menu(data-collapsed='true')
			if hasCloseBtn
				li.main-menu--close-btn
					.x-button
			if locals.menu
				for item in locals.menu
					li.main-menu--item.main-menu--item-top(class=item.submenu ? "has-submenu": "")
						a.main-menu--anchor(href=`${item.href}`)
							| #{item.title}
							if item.submenu
								+plusMinus()
						if item.submenu
							ul.main-menu--submenu(data-collapsed='true')
								for subitem in item.submenu
									li.main-menu--item.main-menu--item-sub
										a.main-menu--anchor.main-menu--anchor-sub(href=`${subitem.href}`)
											| #{subitem.title}


	script(src='./../../base/markup/includes/javascript/mobile-menus/main.js')

	//Slide Left 
	if mobileMenuType == 1
		script(src='./../../base/markup/includes/javascript/mobile-menus/slide-left.js')
			
	//Slide Down and Accordion
	if mobileMenuType == 3 || mobileMenuType == 4 
		script(src='./../../base/markup/includes/javascript/mobile-menus/lib/menu-sections.js')

	//Slide Down
	if mobileMenuType == 3
		script(src='./../../base/markup/includes/javascript/mobile-menus/expand-down.js')
			
	//Accordion
	if mobileMenuType == 4
		script(src='./../../base/markup/includes/javascript/mobile-menus/accordion.js')


